* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    color: #333;
    /* line-height: 1.6; */
    /* padding: 20px; */
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */

    height: 100vh;
    width: 100%;
}

.wel {
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    padding: auto;
    color: #555;
    height: 50px;
    background-color: #333;
}

.wel p {
    color: white;
    margin: auto;
    padding-top: 17px;
    text-align: center;
}

.form-container form {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.yx section {
    border: #cb2020;
    background-color: #cb2020;
}

.form-container input {
    width: 70%;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 17px;
    margin-bottom: 15px;
}

header {
    border: #0095f6;

    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {

    font-style: italic;

}

ul {
    list-style: none;

    display: flex;
    gap: 20px;
}

li {
    display: inline;



    border: #0095f6;
    background: #f0f0f0;
    border-radius: 2px;
    padding: 3px 5px;
}

li a {
    border: none;
    width: 80% auto;
    cursor: pointer;
    color: rgb(142, 37, 37);
    text-decoration: none;
    font-size: 16px;
}

li a:hover {
    background-color: rgb(127, 86, 32);

}


.search {
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin: auto;
    height: 50px;



}

.search input[type="text"] {
    background-color: thistle;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 200px;
}

.search input :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}




.card {
    /* background: rgb(69, 11, 11); */
    /* border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 15px;
    margin: 0 auto;
    background-color: rgb(93, 30, 30);

    display: flex;
    /* justify-content: center; */
    gap: 10px;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-between;




}

.card1 {

    background: rgb(228, 187, 191);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin: 10px;
    width: 100%;
    height: 65%;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 0 auto;
    margin-left: 0 auto;

    flex-basis: 30%;


    /* align-items: center; */




}

.card1:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


h1,
h2,
h3 {
    color: white;
    text-align: center;
    margin-bottom: 10px;

}

p {
    color: white;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.card1 img,
.card2 img,
.card3 img {

    width: 100%;
    height: 100px;
    border-radius: 5px;
    align-items: center;
    /* margin-left: 10%;
    margin-right: 10%; */

}

.card1 img:hover,
.card2 img:hover,
.card3 img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

button {
    display: block;
    width: 80% auto;
    align-items: center;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #dadee0;
}

footer {
    background-color: black;
    color: rgb(181, 76, 76);
    text-align: center;
    padding: 10px 10px;
    bottom: 0;

    width: 100%;
    height: 15%px;
    display: grid;
    grid-template-columns: 60% 40%;






}

footer ul {
    background-color: rgb(12, 12, 12);
    margin: 10px;
    padding: 10px;
    display: grid;






}

li {
    background-color: none;


    /* display: inline; */


}